body {
  font-family: Inter, HeadlandOne, Roboto, Hammersmith One, sans-serif;
  box-sizing: border-box;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  
}

a {
  text-decoration: none;
  
}

a:hover {
  cursor: pointer;
  transition: opacity 0.3;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}




.img-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  :root {
    background-color: #FFFFFF;

   --text-color: #0A3853;
    }
    

    .header {
      top: 0;
      left: 0;
      z-index: 1;
      position: absolute;
      }
    

      .switch-lang {
        display: flex;
        align-items: center;
        width: 150px;
        flex-direction: row-reverse;
        margin-left: 1065px;
        
      }
      
      .langUA {
        width: 37px;
height: 25px;
left: 1066px;
top: 23px;

font-family: 'Hammersmith One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

text-align: center;

color: #FFFFFF;


 position: absolute; 
width: 26px;
height: 25px;
left: 1158px;
top: 23px;



      }
      
      .langEN {
        width: 37px;
height: 25px;
left: 1065px;
top: 23px;

font-family: 'Hammersmith One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
/* identical to box height */

text-align: center;

color: #FFFFFF;

position: absolute;
width: 37px;
height: 25px;
left: 1065px;
top: 23px;

      }
      
      .switch__container {
        margin: 30px auto;
        width: 120px;
      }
      
      .switch {
        visibility: hidden;
        position: absolute;
        margin-left: -9999px;
      }
      
      .switch + label {
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
        border: 1px solid #ffffff;
      }
      
      .switch--shadow + label {
        padding: 2px;
        width: 36px;
        height: 20px;
      
        border-radius: 60px;
        top: -254px;
        margin-left: 31px;
      }
      
      .switch--shadow + label:before,
      .switch--shadow + label:after {
        display: block;
        top: 9px;
        left: 10px;
        bottom: 6px;
        content: "";
      }
      
      .switch--shadow + label:before {
        right: 1px;
        opacity: 0;
        border-radius: 60px;
        transition: background 0.4s;
      }
      
      .switch--shadow + label:after {
        width: 14px;
        height: 14px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
        transition: all 0.4s;
      }
      
      .switch--shadow:checked + label:before {
        background-color: #8ce196;
      }
      
      .switch--shadow:checked + label:after {
        transform: translateX(15px);
      }
.logo {
  display: flex;

width: 258.9px;
height: 100px;
left: 164px;
top: 25px;

margin-left: 164px;
margin-bottom: 149px;



}

 .header {
  top: 0;
  } 

.hero {

    position: relative;


    background-image: url(./images/background1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
   
}


.hero-text {
  width: 298px;
height: 96px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
margin-left: 164px;


}
 .body {
  box-sizing: border-box;
 }

 .white-arrow {
  margin-left: 164px;
 }

 .hero-text1 {
  height: 96px;
  width: 298px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  
  color: #FFFFFF;
  margin-left: 164px;
  margin-bottom: 40px;

 }

 .hero--button {
  box-sizing: border-box;

width: 260px;
height: 80px;
left: 163px;
top: 575px;

background: #0B0E66;
border: 3px solid #26C7EA;
border-radius: 45px 0px;
 }

 .avatar {
  position: absolute;
  left: 625px;
  /* top: 55px; */
  bottom: 0px;

  
 }
 .social-icon {
  display: block;
  width: 34px;
  height: 30px;
  fill: #FFFFFF;


 }
 .bed:not(:last-child) {
  margin-bottom: 24px;
  
 }
 .flex {
  display: flex;
  justify-content: space-between;

 }
 

 .button {
  box-sizing: border-box;

  width: 260px;
  height: 80px;

  background-color: #0B0E66;
  border: 3px solid #26C7EA;

  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  
  margin-left: 164px;
  margin-bottom: 45px;
 }
  .button-text {
    color: #26C7EA;
    width: 221px;

    font-family: 'HeadlandOne';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
  }

 .sentance1 {

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

margin-top: 75px;

 }
.name1 {
  margin-left: 605px;
  width: 151px;
height: 29px;
left: 605px;
top: 881px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

text-align: center;

color: #000000;
}

.picture2 {
 margin-left: 466px;
 margin-bottom: 10px;
}
.word1 {
  margin-left: 318px;
}
.word2 {
  margin-left: 179px;
  margin-bottom: 16px
}

 .trailer {

  background-image: url(./images/аватар2.png);
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding-left: 552px;
    padding-top: 310px;
    padding-right: 549px;
    padding-bottom: 310px;
 }


.sentance2 {


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
/* identical to box height */

text-align: justify;
margin-top: 75px

}

.word3 {
  margin-left: 236px;
}
.word4 {
  margin-left: 427px;
  margin-bottom: 16px
}
.name2 {
  margin-left: 603px;
  width: 151px;
height: 29px;
left: 605px;
top: 881px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

text-align: center;

color: #000000;
}
.word5 {
  margin-left: 238px;
}
.word6 {
  margin-left: 301px;
  margin-bottom: 16px
}
.name3 {
  margin-left: 604px;
  width: 151px;
height: 29px;
left: 605px;
top: 881px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

text-align: center;

color: #000000;
}
.picture3 {
  display: flex;

  width: 1360px;
  height: 350px;
  left: 0px;
  top: 698px;
  
  background: #FFFFFF;
  }

  .sentance3 {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
/* identical to box height */

text-align: justify;
margin-top: 75px
  }
  
  .language_heading {
    width: 285px;
    height: 40px;
  
    margin: 0px auto 45px auto;
  
    font-family: "HeadlandOne";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
  
    color: #141414;
  }
  
  .language-box {
    margin-left: 164px;
    margin-right: 162px;
  }
  
  .language-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .language-list__item {
    width: 320px;
  
    padding: 36px 0;
  
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .language-list__item:not(:nth-child(3n + 3)) {
    margin-right: 35px;
  }
  .language-list__item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }

  .blur {
    background: linear-gradient(
      90deg,
      #36526a 5.74%,
      rgba(55, 107, 151, 0) 93.38%
    );
    padding-top: 224px;
    padding-bottom: 55px;
    width: 1365px;
  }
  
  .container {
    background-color: rgb(255, 255, 255);
    display: flex;
  
    /* margin-left: 20px; */
    /* margin-right: 20px; */
  }

  .last_picture {

    background-image: url(./images/під\ водою.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 270px;
  }

  .phrases {
    background-image: url(./images/летюча\ земля.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 43px;
    padding-top: 32px;
  }

  .img {
    height: 40px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .text {

font-family: 'HeadlandOne';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
margin: 0 auto 40px auto;
  }

 .textbottom {

font-family: 'HeadlandOne';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
margin: 0 auto;
 }

  .button2 {
    box-sizing: border-box;

  width: 260px;
  height: 80px;

  background-color: #0B0E66;
  border: 3px solid #26C7EA;

  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  margin-left: 171px;

  
  }
  .button2-text {
    color: #26C7EA;
    width: 221px;

    font-family: 'HeadlandOne';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
  }
/* modal */
  .backdrop {
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1;

  }
    .is-hidden { 
    visibility: hidden; 
    opacity: 0; 
    pointer-events: none; 
    }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    background-image: url(./images/Rectangle\ 51opt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }

  .form {
    padding-left: 80px;
    padding-right: 80px;
  }

  .form-label {

  }
  .label-text {
    
    width: 42px;
    height: 29px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    text-align: justify;
    
    color: #0B0E66;
  }
  .form-input {
    box-sizing: border-box;

    width: 440px;
    height: 40px;
    
    background: #FFFFFF;
    border: 2px solid #0B0E66
  }

  .form-input:not(:last-child) {
    margin-bottom: 10px;
  }

   .modal-button {
    box-sizing: border-box;

  width: 260px;
  height: 80px;
  display: block;
  margin: 0 auto;


  background-color: #0B0E66;
  border: 3px solid #26C7EA;

  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px; 

   } 
  .input-container {
  margin-bottom: 35px;
  }

  .button__text {
width: 199px;
height: 60px;
left: 580px;
top: 457px;

font-family: 'HeadlandOne';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
text-align: center;

color: #26C7EA;

  }



      /* not mine */
      .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
      }
      /* 
      .is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
      } */
      
      .modal {
        position: absolute;
      
        top: 50%;
        left: 50%;
      
        transform: translate(-50%, -50%);
      
        width: 600px;
        height: 400px;
      
        background-image: url(./images/Rectangle\ 51opt.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      /* 
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
} */


.modal-close {
  display: block;
  margin-left: 570px;
  margin-top: 10px;
  margin-right: 16px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;

  margin-bottom: 80px;
}

.icon-close {
  display: inline-block;
  width: 16px;
  height: 16px;
  fill: #0b0e66;
}

.icon-close:hover,
:active {
  fill: red;
}

.form {
  padding-left: 80px;
  padding-right: 80px;
}

.input-container {
  margin-bottom: 35px;
}

.form-label:not(:last-child) {
  margin-bottom: 30px;
}

.label-text {
  width: 42px;
  height: 29px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  text-align: justify;

  color: #0b0e66;
}

.input-wrap {
  position: relative;
}

.form-input {
  width: 440px;
  height: 40px;
  display: block;

  padding-left: 10px;
  padding-right: 30px;

  background-color: #ffffff;
  border: 2px solid #0b0e66;
}

.form-input:focus {
  border: 2px solid #0b0e66;
}

.envelop {
  position: absolute;
  right: 14px;
  top: 33px;
  width: 15px;
  height: 19px;
  fill: #0b0e66;
}

.modal-button {
  width: 260px;
  height: 80px;
  display: block;
  margin: 0 auto;

  background-color: #0b0e66;
  border: 3px solid #26c7ea;
  border-radius: 45px 0px;
}
      
      
      .button__text {
        display: inline-block;
        width: 199px;
      
        font-family: 'HeadlandOne';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
      
        color: #26c7ea;
      }
      